/* global */

body{
    margin: 0;
    padding: 0;
    font: 16px/1.5 arial, sans-serif ;
    background: #e8f9ff;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.highlight{
    color: #ff4929;
    font-weight: bold;
}

.dark{
    background-color: #2e3f70;    
    color: white;
}


/* Header */


header{
    background-color: #2e3f70;
    color: white;
    min-height: 70px;
    border-bottom: #ff4929 solid 3px;
}

header h1{
    margin: 0;
    float: left;
}

header ul{
    float: right;
}

header li{
    display: inline;
    float: light;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: white;
    line-height: 70px;
    font-weight: 600;
}

header ul a:hover{
    color: #ff4929;
}


/* display */

#display{
    background: url("../images/showcase.jpg") no-repeat -400px;
    min-height: 460px;
    text-align: center;
    color: white;
}   

#display h1{
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 50px;
}


/* newsletter */


#newsletter{
    background-color: #2e3f70;
    border-top: #ff4929 3px solid;
    border-bottom: #ff4929 3px solid;
    min-height: 95px;
    padding-top: 25px;
    box-sizing: border-box;
}

#newsletter h2{
    color: white;
    float: left;
    padding:0;
    margin: 0;
}

#newsletter form{
    float: right;
}

#newsletter input{
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

#newsletter button{
    background: #ff4929;
    border: none;
    border-radius : 5px;
    padding: 8px 20px 8px 20px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
}


/* Boxes */

#boxes{
    margin-top: 60px;
}

#boxes img{
    width: 90px;
}

#boxes .box{
    width: 30%;
    text-align: center;
    padding:0px;
    float: left;
    padding: 10px;
}

footer{
    background-color: #2e3f70;
    min-height: 40px;
    margin-top: 50px;
    border-top: 3px #ff4929 solid;
}

footer .copyright{
    float:left;
    color:white
}

footer .mwl{
    float:right;
    color:white
}

/* about */

#about{
    text-align: justify;
    margin-top: 50px;
}

#about #main{
    width: 65%;
    float: left;
}

#about #sidebar{
    padding: 10px 15px;
    float: right;
    width: 30%;
}

#about .card{
    padding: 10px 15px;
}


/* services */

#services{
    margin-top: 50px;
    text-align: center;
    color: whitesmoke
}

#services .main{
    width: 65%;
    float: left;
}

#services #sidebar{
    width: 30%;
    float: right;
}

#services .card{
    text-align: center;
    padding: 10px 15px;
    background: #2e3f70;
    margin-bottom: 15px;
    color: white;
    border: #8c8c8c 1px solid;
}

#services .main h2{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#services .price{
    border-top: 1px white solid;
    padding-top: 10px;
    margin-bottom: 0;
}

#services form{
    padding: 20px;
    background: #2e3f70;
}

#services label{
    display: block;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 5px;
}

#services legend{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px white solid;
}


#services input{
    width: 90%;
}

#services textarea{
    width: 90%;
    border-radius: 2px;
    resize: none;
}

#services button{
    margin-top: 10px;
    color: white;
    background-color: #ff4929;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

@media(max-width: 800px){
    header h1, header ul, header li,
    #newsletter h2, #newsletter form,
    footer .mwl, footer .copyright, #boxes .box,
    #about #main, #about #sidebar,
    #services .main, #services #sidebar{
        float: none;
        width: 100%;
        text-align: center ;
    }

    #newsletter form{
        margin-top:10px;   
    }

    #newsletter button{
        margin-top: 15px;
        margin-bottom: 10px;
        
    }

    .container #boxes .box{
        line-height: 1.5;
    }

    .wrapper{
        display: block;
    }

    .wrapper .box{
        float: left;
    }

    #about #sidebar{
        margin-top: 20px;
    }


}   
